#! /usr/bin/env bash

echo "=== FTIENDLY HINT FROM ZAMMAD ==="
echo "We recommend the following package managers:"
echo "- rbenv"
echo "- fnm"
echo "- pnmp"
echo "Just overwrite this '.ennrc' with our example file"
echo "to get set up with the recommended package managers."
echo "Run:"
echo "cp .envrc-example .envrc && direnv allow"

